/ReeperCommon.v11.suo
/ReeperCommon/obj/Debug
/ReeperCommonIntegrationTests/obj/Debug
/ReeperCommon/bin/Debug
/ReeperCommonIntegrationTests/GameData/ReeperCommonIntegrationTests/ReeperCommonIntegrationTests.dll
/ReeperCommonIntegrationTests/bin/Debug
/UnitTests/bin/Release
/UnitTests/bin/Debug
/UnitTests/obj/Debug
/UnitTests/obj/Release
/ReeperCommonUnitTests/bin/Coverage
/ReeperCommon/bin/Release
/ReeperCommonUnitTests/obj/Coverage
/ReeperCommonUnitTests/obj/Release
/ReeperCommon/obj/Release
/ReeperCommonUnitTests/obj/Debug
/ReeperCommonUnitTests/bin/Release
/ReeperCommon.smp.old
/ReeperCommon.smproj
/.nuget
/_ReSharper.ReeperCommon/DaemonResults/1
/_ReSharper.ReeperCommon
/packages/NSubstitute.1.8.2.0/lib/net40
/packages/AutoFixture.Xunit.2.16.2
/packages/NSubstitute.1.8.2.0
